USE [master]
GO
/****** Object:  Database [test]    Script Date: 01.07.2026 15:49:38 ******/
CREATE DATABASE [test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'test', FILENAME = N'E:\Programs\Soft\MicrosoftSQL\2019\Express\MSSQL15.SQLEXPRESS\MSSQL\DATA\test.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'test_log', FILENAME = N'E:\Programs\Soft\MicrosoftSQL\2019\Express\MSSQL15.SQLEXPRESS\MSSQL\DATA\test_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [test]
GO
/****** Object:  Table [dbo].[CategoryTovar]    Script Date: 01.07.2026 15:49:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryTovar](
	[id] [int] NOT NULL,
	[categorytovar] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CategoryTovar] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EdIzm]    Script Date: 01.07.2026 15:49:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EdIzm](
	[id] [int] NOT NULL,
	[edizm] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_EdIzm] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NameTovar]    Script Date: 01.07.2026 15:49:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NameTovar](
	[id] [int] NOT NULL,
	[nametovar] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NameTovar] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PickupPoint]    Script Date: 01.07.2026 15:49:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PickupPoint](
	[id] [int] NOT NULL,
	[postcode] [nvarchar](25) NOT NULL,
	[city] [nvarchar](25) NOT NULL,
	[street] [nvarchar](25) NOT NULL,
	[building] [nvarchar](25) NULL,
 CONSTRAINT [PK_PickupPoint] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Postavshik]    Script Date: 01.07.2026 15:49:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Postavshik](
	[id] [int] NOT NULL,
	[postavshik] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Postavshik] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 01.07.2026 15:49:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] NOT NULL,
	[Articule] [nvarchar](20) NOT NULL,
	[idnametovar] [int] NOT NULL,
	[idedizm] [int] NOT NULL,
	[price] [money] NOT NULL,
	[idpostavshik] [int] NOT NULL,
	[idproizvoditel] [int] NOT NULL,
	[idcategorytovar] [int] NOT NULL,
	[discount] [decimal](4, 2) NOT NULL,
	[amountstock] [decimal](6, 2) NOT NULL,
	[description] [nvarchar](150) NOT NULL,
	[images] [nvarchar](150) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductOrders]    Script Date: 01.07.2026 15:49:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductOrders](
	[id] [int] NOT NULL,
	[createtime] [date] NOT NULL,
	[deliverytime] [date] NOT NULL,
	[idpickup] [int] NOT NULL,
	[iduser] [int] NOT NULL,
	[code] [nvarchar](5) NOT NULL,
	[idstatuszakaza] [int] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductZakazi]    Script Date: 01.07.2026 15:49:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductZakazi](
	[id] [int] NOT NULL,
	[orderid] [int] NOT NULL,
	[idarticele] [int] NOT NULL,
	[amount] [int] NOT NULL,
 CONSTRAINT [PK_ProductZakazi] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proizvoditeli]    Script Date: 01.07.2026 15:49:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proizvoditeli](
	[id] [int] NOT NULL,
	[proizvoditel] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Proizvoditeli] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 01.07.2026 15:49:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[idrole] [int] NOT NULL,
	[role] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[idrole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusZakaza]    Script Date: 01.07.2026 15:49:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusZakaza](
	[id] [int] NOT NULL,
	[statuszakaza] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_StatusZakaza] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 01.07.2026 15:49:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[iduser] [int] NOT NULL,
	[surname] [nvarchar](150) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[patronmic] [nvarchar](50) NOT NULL,
	[login] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[idrole] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[iduser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CategoryTovar] ([id], [categorytovar]) VALUES (1, N'Женская обувь')
INSERT [dbo].[CategoryTovar] ([id], [categorytovar]) VALUES (2, N'Мужская обувь')
GO
INSERT [dbo].[EdIzm] ([id], [edizm]) VALUES (1, N'шт.')
GO
INSERT [dbo].[NameTovar] ([id], [nametovar]) VALUES (1, N'Ботинки')
INSERT [dbo].[NameTovar] ([id], [nametovar]) VALUES (2, N'Туфли')
INSERT [dbo].[NameTovar] ([id], [nametovar]) VALUES (3, N'Кроссовки')
GO
INSERT [dbo].[PickupPoint] ([id], [postcode], [city], [street], [building]) VALUES (1, N'420151', N'Лесной', N'Вишневая', N'32')
INSERT [dbo].[PickupPoint] ([id], [postcode], [city], [street], [building]) VALUES (2, N'125061', N'Лесной', N'Подгорная', N'8')
INSERT [dbo].[PickupPoint] ([id], [postcode], [city], [street], [building]) VALUES (3, N'630370', N'Лесной', N'Шоссейная', N'24')
GO
INSERT [dbo].[Postavshik] ([id], [postavshik]) VALUES (1, N'Kari')
INSERT [dbo].[Postavshik] ([id], [postavshik]) VALUES (2, N'Обувь для вас
')
GO
INSERT [dbo].[Product] ([id], [Articule], [idnametovar], [idedizm], [price], [idpostavshik], [idproizvoditel], [idcategorytovar], [discount], [amountstock], [description], [images]) VALUES (1, N'А112Т4', 1, 1, 4990.0000, 1, 1, 1, CAST(3.00 AS Decimal(4, 2)), CAST(6.00 AS Decimal(6, 2)), N'Женские Ботинки демисезонные kari', N'Images/1.jpg')
INSERT [dbo].[Product] ([id], [Articule], [idnametovar], [idedizm], [price], [idpostavshik], [idproizvoditel], [idcategorytovar], [discount], [amountstock], [description], [images]) VALUES (2, N'F635R4', 1, 1, 3244.0000, 2, 2, 1, CAST(2.00 AS Decimal(4, 2)), CAST(13.00 AS Decimal(6, 2)), N'Ботинки Marco Tozzi женские демисезонные, размер 39, цвет бежевый', N'Images/2.jpg')
INSERT [dbo].[Product] ([id], [Articule], [idnametovar], [idedizm], [price], [idpostavshik], [idproizvoditel], [idcategorytovar], [discount], [amountstock], [description], [images]) VALUES (3, N'H782T5', 2, 1, 4499.0000, 1, 1, 2, CAST(4.00 AS Decimal(4, 2)), CAST(5.00 AS Decimal(6, 2)), N'Туфли kari мужские классика MYZ21AW-450A, размер 43, цвет: черный', N'Images/3.jpg')
GO
INSERT [dbo].[ProductOrders] ([id], [createtime], [deliverytime], [idpickup], [iduser], [code], [idstatuszakaza]) VALUES (1, CAST(N'2025-02-27' AS Date), CAST(N'2025-04-20' AS Date), 1, 2, N'901', 1)
INSERT [dbo].[ProductOrders] ([id], [createtime], [deliverytime], [idpickup], [iduser], [code], [idstatuszakaza]) VALUES (2, CAST(N'2022-09-28' AS Date), CAST(N'2025-04-21' AS Date), 11, 3, N'902', 1)
INSERT [dbo].[ProductOrders] ([id], [createtime], [deliverytime], [idpickup], [iduser], [code], [idstatuszakaza]) VALUES (3, CAST(N'2025-03-21' AS Date), CAST(N'2025-04-22' AS Date), 2, 4, N'903', 1)
GO
INSERT [dbo].[ProductZakazi] ([id], [orderid], [idarticele], [amount]) VALUES (1, 1, 1, 2)
INSERT [dbo].[ProductZakazi] ([id], [orderid], [idarticele], [amount]) VALUES (2, 2, 3, 1)
INSERT [dbo].[ProductZakazi] ([id], [orderid], [idarticele], [amount]) VALUES (3, 3, 5, 10)
GO
INSERT [dbo].[Proizvoditeli] ([id], [proizvoditel]) VALUES (1, N'Kari')
INSERT [dbo].[Proizvoditeli] ([id], [proizvoditel]) VALUES (2, N'Marco Tozzi')
INSERT [dbo].[Proizvoditeli] ([id], [proizvoditel]) VALUES (3, N'Рос')
GO
INSERT [dbo].[Roles] ([idrole], [role]) VALUES (1, N'Администратор
')
INSERT [dbo].[Roles] ([idrole], [role]) VALUES (2, N'Менеджер
')
INSERT [dbo].[Roles] ([idrole], [role]) VALUES (3, N'Авторизированный клиент
')
GO
INSERT [dbo].[StatusZakaza] ([id], [statuszakaza]) VALUES (1, N'Завершен
')
INSERT [dbo].[StatusZakaza] ([id], [statuszakaza]) VALUES (2, N'Новый 
')
GO
INSERT [dbo].[Users] ([iduser], [surname], [name], [patronmic], [login], [password], [idrole]) VALUES (1, N'Никифорова', N'Весения', N'Николаевна', N'94d5ous@gmail.com', N'uzWC67', 1)
INSERT [dbo].[Users] ([iduser], [surname], [name], [patronmic], [login], [password], [idrole]) VALUES (2, N'Сазонов', N'Руслан', N'Германович', N'uth4iz@mail.com', N'2L6KZG', 1)
INSERT [dbo].[Users] ([iduser], [surname], [name], [patronmic], [login], [password], [idrole]) VALUES (3, N'Одинцов', N'Серафим', N'Артёмович', N'yzls62@outlook.com', N'JlFRCZ', 1)
GO
USE [master]
GO
